; CUL custom configuration
; These values are used both by Mantis and by the CUL custom reservation form

[version]
; This is the version number for the custom CUL system, not Mantis
cul_version = 

[database]
db_host = 
db_user = 
db_pass = 
db_database = 

[mantis]
api_user =
api_pass =
api_url_base =

[Hashids]
hashid_salt = 